/* general rules */
* { 
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* font */
    font-family: "Open Sans";
    list-style: none;
}
   /* button */
.button {
    border: 1px solid;
    background-color: rgb(1, 97, 253);
    color: white;
    width: 250px;
    height: px;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
    max-width: 100%;
    max-height: 50px;
}
.button:hover {
    border: 1px solid;
    background-color: rgba(67, 67, 67, 0.258);
    color: white;
    width: 250px;
    height: px;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
    max-width: 100%;
    max-height: 50px;
    
}
.icon {
    padding-right: 7px;
}
.icon-blue {
    padding-right: 7px;
    color: rgb(0, 183, 255);
    margin: 0;
}
.gray {
    color: rgb(149, 147, 147);
}
/* --------------------- header ---------------------*/

#header {
    height: 70px;
    width: 100%;
    background-color: rgb(255, 255, 255);
}
.logo {
    padding-top: 20px;
}
#header-ol {
    display: inline-block;
}
.header-li {
    display: inline-block;
    padding-right: 10px;
    padding-left: 10px;
}
/* --------------------- jumbotron --------------------- */

#jumbo-background {
    width: 100%;
    background-color: rgb(180, 208, 230);
    height: 600px;
    position: absolute;
    z-index: -1;

}
#jumbo-container {
    padding-top: 80px;
    margin-left: 20%;
    margin-right: 15%;
    height: 600px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
#jumbo-title {
    padding-right: 5%;
    height: 200px;
    width: 100%;
    font-size: 65px;
}
#jumbo-desciption {
    line-height: 20px;
    width: 30%;
    height: 320px;
    font-size: 15px;
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
    /* arrow */
#arrow-down {
    font-size: 50px;
}
#jumbo-img {
    width: 70%;
    background-image: url(../img/jumbo.png);
    background-size: contain;
    background-repeat: no-repeat;
}

/* --------------------- main --------------------- */

#main {
    margin-top: 150px;
    margin-left: 20%;
    margin-right: 20%;
    height: 3300px;
}
.main-title1 {
    height: 100px;
    width: 100%;
    font-size: 40px
}
.billings {
    margin-bottom: 20px;
    display: flex;
}
/* ---------------- container1 ---------------- */

#container-top {
    padding-top: 50px;
    height: 1000px;
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 5%;
    flex-wrap: wrap;
}
/* ------- box-vertical ------- */
.container-top-box-vertical {
    width: 30%;
    height: 900px;
    border: 1px solid;
    border-color: rgb(214, 213, 216);
}
.container-top-box-vertical-head {
    text-align: center;
    padding-top: 10px;
}
.container-top-box-vertical-text {
    padding-top: 30px;
    padding-left: 7%;
    padding-right: 7%;
    line-height: 40px;
}
.container-top-box-vertical-list {
    padding-top: 50px;
    line-height: 30px;
    padding-bottom: 40px;
    list-style: none;
}
.container-top-box-vertical-list-small {
    padding-top: 15px;
    line-height: 30px;
    padding-bottom: 50px;
}
.container-top-box-vertical-link {
    padding-top: 20px;
}
.space {
    margin-top: 10px;
    border: 0.5px solid;
    border-color: rgb(214, 213, 216);
    width: 100%;
}
.space-small {
    margin-top: 30px;
    margin-bottom: 30px;
    border: 0.5px solid;
    border-color: rgb(214, 213, 216);
    width: 80px;
}
/* ------- box-horizontal ------- */
#container-top-box-horizontal {
    width: 100%;
    height: 200px;
    border: 1px solid;
    border-color: rgb(214, 213, 216);
}
#container-top-box-horizontal-text {
    display: flex;
    justify-content: space-between;
    padding-top: 15px;
    padding-left: 4%;
    padding-right: 4%;
    line-height: 40px;
}


/* ---------------- container2 ---------------- */
#container-mid {
    margin-top: 300px;
    display: flex;
}
#container-mid-box-big {
    background-image: url(../img/partner.png);
    background-size: contain;
    background-repeat: no-repeat;
    width: 60%;
}
#container-mid-box-small {
    padding-top: 30px;
    /* debug */
    height: 400px;
    width: 40%;
}
#container-mid-box-small-text {
    padding-top: 30px;
    padding-bottom: 45px;
}
#container-mid-box-small-button {
    font-size: 17px;
    text-align: center;
    border: 1px solid;
    width: 145px;
    height: 50px;
    line-height: 45px;
}

/* ---------------- container3 ---------------- */
#main-title-mid{
    margin-top: 150px;
    font-size: 37px;
    height: 70px;
}
#container-bottom {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    gap: 5%;
    flex-wrap: wrap;
    height: 800px;
}
.container-bottom-box {
    display: flex;
    flex-direction: column;
    width: 30%;
    height: 400px;
}
.container-bottom-box-title {
    padding-top: 20px;
    padding-bottom: 20px;
}
#main-title-bottom {
    margin-top: 150px;
    font-size: 45px;
    height: 200px;
    width: 100%;
}
/* ---------------------  footer ---------------------  */
#footer {
    margin-top: 150px;
    height: 600px;
    background-color: rgb(10, 10, 10);
}
/* ---------------- container4 ----------------  */
#container-footer {
    margin-left: 15%;
    margin-right: 15%;
    padding-top: 100px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.container-footer-box {
    width: 20%;
    margin-top: 40px;
    height: 300px;
    color: white;
    line-height: 40px;
    list-style: none;
}
.container-footer-box-list {
    list-style: none;
}
.space-footer {
    margin-top: 30px;
    margin-bottom: 30px;
    margin-right: 95%;
    border: 0.5px solid;
    border-color: rgb(214, 213, 216);
    width: 80px;
    padding-left: 
}
#language {
    margin-top: 15px;
    margin-left: 15%;
    color: rgb(124, 123, 123);
    height: 50px;
    width: 100%;
}
